{% extends 'event_nav.html' %}

{% block content %}
    <div class="page-header">
        <h4 class="page-title fs-3">Editar Informações</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="{% url 'event_detail' object.pk %}">{{ object.title|title }}</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Editar Informações</a>
            </li>
        </ul>
    </div>
    <div class="page-category">
        <p>Edite abaixo todas as atualizações desejadas para este evento.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="update_event_form">
                        {% csrf_token %}
                        <input type="hidden" name="token" value="{{ form.token.value }}">
                        <input type="hidden" name="qrcode" value="{{ form.qrcode.value }}">
                        <div class="form-group">
                            <label for="id_title">Título:</label>
                            <input type="text" placeholder="Digite o título do evento" class="form-control" id="id_title" name="title" value="{{ form.title.value|default_if_none:'' }}">
                            {{ form.title.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_location">Localização:</label>
                            <input type="text" placeholder="Digite a localização do evento" class="form-control" id="id_location" name="location" value="{{ form.location.value|default_if_none:'' }}">
                            {{ form.location.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_date">Data:</label>
                            <input type="date" class="form-control" id="id_date" name="date" value="{{ form.date.value|date:'Y-m-d' }}">
                            {{ form.date.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_time">Hora:</label>
                            <input type="time" class="form-control" id="id_time" name="time" value="{{ form.time.value|default_if_none:'' }}">
                            {{ form.time.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_duration">Duração (em minutos):</label>
                            <input type="number" placeholder="Digite a duração em minutos" class="form-control" id="id_duration" name="duration" value="{{ form.duration.value|default_if_none:'' }}">
                            {{ form.duration.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_kind">Tipo de Evento:</label>
                            <select class="form-control" id="id_kind" name="kind">
                                {% for value, label in form.kind.field.choices %}
                                    <option value="{{ value }}" {% if form.kind.value == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                            {{ form.kind.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_status">Status:</label>
                            <select class="form-control" id="id_status" name="status">
                                {% for value, label in form.status.field.choices %}
                                    <option value="{{ value }}" {% if form.status.value == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                            {{ form.status.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_departament">Departamento:</label>
                            <select class="form-control" id="id_departament" name="departament">
                                {% for obj in form.departament.field.queryset %}
                                    <option value="{{ obj.id }}" {% if form.departament.value == obj.id %}selected{% endif %}>{{ obj }}</option>
                                {% endfor %}
                            </select>
                            {{ form.departament.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_main_group">Evento Mestre:</label>
                            <select class="form-control" id="id_main_group" name="main_group">
                                {% for obj in form.main_group.field.queryset %}
                                    <option value="{{ obj.id }}" {% if form.main_group.value == obj.id %}selected{% endif %}>{{ obj }}</option>
                                {% endfor %}
                            </select>
                            {{ form.main_grou.errors }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_description">Descrição:</label>
                            <textarea class="form-control" id="id_description" name="description" rows="3">{{ form.description.value|default_if_none:'' }}</textarea>
                            {{ form.description.errors }}
                        </div>
                        
                        <div class="form-group">
                            {{ form.photo }}
                            {{ form.photo.errors }}
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    </form>
                </div>
                <div class="card-action">
                    <button class="btn btn-primary" form="update_event_form">Atualizar</button>
                    <a href="{% url 'event_detail' object.id %}" class="btn btn-info">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}