{% extends 'base_nav.html' %}
{% load custom_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css" />
{% endblock %}

{% block content %}
    <style>
        .event {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .event:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .badge-inscrito {
            position: absolute;
            top: 14px;
            right: 10px;
            background-color: #cf9816;
            color: white;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 12px;
        }

        /* Keen Slider Styles */
        .keen-slider__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }

        .keen-slider__slide:hover {
            opacity: 1;
        }

        .keen-slider__slide img {
            max-height: 80px;
            max-width: 90%;
            object-fit: contain;
            border-radius: 12px;
            margin: 15px 0;
            transition: transform 0.3s ease;
        }

        .keen-slider__slide:hover img {
            transform: scale(1.05);
        }

        .rotate-icon {
            transition: transform 0.5s ease;
        }

        .rotate-icon-up {
            transform: rotate(180deg);
        }

        .rotate-icon-down {
            transform: rotate(0deg);
        }

        /* Responsividade */
        @media (max-width: 768px) {
            .keen-slider__slide img {
                max-height: 60px;
            }
        }
    </style>

    <div class="page-header">
        <h1 class="page-title fs-3">Eventos Externos</h1>
    </div>

    <div class="page-category">
        {% if grouped_events %}
            <p class="fw-bold">
                Explore nossos eventos externos e conecte-se com o mundo!
            </p>
            <p>
                Nossos eventos externos oferecem uma oportunidade única para você se conectar com especialistas do setor, expandir sua rede de contatos e adquirir novos conhecimentos. Não perca palestras inspiradoras, workshops dinâmicos e feiras inovadoras que podem impulsionar sua carreira ou negócio.
            </p>
        {% else %}
            <p class="fw-bold">
                Desculpe, nenhum evento disponível!
            </p>
        {% endif %}
    </div>

    <!-- Keen-Slider -->
    <div id="my-keen-slider" class="keen-slider mb-2">
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/Preta.png' %}" alt="Logo1">
        </div>
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/TopCert-Logotipo.png' %}" alt="Logo2">
        </div>
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/logo_academy1.jpg' %}" alt="Logo3">
        </div>
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/rnc-Logotipo.png' %}" alt="Logo1">
        </div>
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/AND_Logotipo.jpg' %}" alt="Logo1">
        </div>
        <div class="keen-slider__slide">
            <img src="{% static 'assets/img/Logo-Seguros-em-alta.png' %}" alt="Logo1">
        </div>
    </div>

    <!-- Event Cards -->
    <div class="row">
        {% for group in grouped_events %}
            <div class="card p-0" style="background-color: transparent; border: none; box-shadow: none;">
                <div class="card-header bg-academy text-center mt-3 mt-md-0 mb-4 mx-2 text-light rounded-3 d-flex justify-content-between align-items-center">
                    <h4 class="m-0">
                        <i class="fas fa-calendar-minus"></i> {{ group.date|month_year_format }}
                    </h4>
                    <a href="#collapse-{{ forloop.counter }}" class="text-light" data-bs-toggle="collapse" aria-expanded="true" onclick="toggleIcon(this)">
                        <h4 class="m-0">
                            <i class="fas {% if forloop.counter == 1 %} fa-chevron-down {% else %} fa-chevron-up {% endif %} rotate-icon rotate-icon-down"></i>
                        </h4>
                    </a>
                </div>
                <div id="collapse-{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %} show {% endif %}">
                    <div class="row mx-2 mt-3">
                        {% for event in group.events %}
                            <div class="col-12 col-sm-6 col-xl-4 mb-3">
                                <div class="card event shadow-lg position-relative">
                                    {% if title != "encerrados" %}
                                        {% if event.pk in participating_event_ids %}
                                            <div class="badge-inscrito">Inscrito</div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="p-3 card-black bg-academy rounded-top-3">
                                        <h5 class="text-center card-text"><i class="fas fa-bullhorn"></i></h5>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title text-truncate text-academy-green fs-4">{{ event }}</h1>
                                        <h5 class="card-text text-muted p-0 m-0"><i class="fas fa-map-marker-alt"></i> {{ event.location|title }}</h5>
                                        <p class="card-text mt-2 p-0 m-0"><small>{{ event.date|date:"d/m/Y" }} - {{ event.time }}</small></p>
                                        <a href="{% url 'event_detail' event.pk %}?origin=external" class="btn mt-3 mb-3 btn-academy">Saiba Mais</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block end-js %}
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script>
        function toggleIcon(element) {
            var icon = element.querySelector('i'); // Pega o ícone da seta dentro do link 
            icon.classList.toggle('rotate-icon-up');
            icon.classList.toggle('rotate-icon-down');
        }

        var animation = { duration: 15000, easing: (t) => t }

        var slider = new KeenSlider("#my-keen-slider", {
            loop: true, // Para loop infinito
            renderMode: "performance", // Para otimizar a performance
            slides: { perView: 3, spacing: 20 }, // Exibe 3 logos por vez
            created(s) {
                s.moveToIdx(5, true, animation)
            },
            updated(s) {
                s.moveToIdx(s.track.details.abs + 5, true, animation)
            },
            animationEnded(s) {
                s.moveToIdx(s.track.details.abs + 5, true, animation)
            },
        });
    </script>
{% endblock %}
