{% extends 'base.html' %}

{% load custom_tags %}
{% block nav-bar %}
    <li class="nav-item {% if status == '' %}active{% endif %}">
        <a href="https://www.controlleracademy.com.br/" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Controller Academy</p>
        </a>
    </li>
    {% if not user.is_authenticated %}
    <li class="nav-section">
        <h4 class="text-section">Sua conta</h4>
        <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
            <a href="{% url 'register' %}">
                <i class="fas fa-key"></i>
                <p>Cadastrar-se</p>
            </a>
        </li>
        <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
            <a href="{% url 'login' %}">
                <i class="fas fa-user-lock"></i>
                <p>Entrar</p>
            </a>
        </li>
    </li>
    {% else %}
        <li class="nav-section">
            <h4 class="text-section mt-5">Visualizador de Eventos</h4>
            <li class="nav-item {% if url_name == 'events_external' %}active{% endif %}">
                <a href="{% url 'events_external' %}">
                    <i class="fas fa-door-open"></i>
                    <p>Eventos Externos</p>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'events_internal' %}active{% endif %}">
                <a href="{% url 'events_internal' %}">
                    <i class="fas fa-door-closed"></i>
                    <p>Eventos Internos</p>
                </a>
            </li>
        </li>
        {% if user|has_group:"RH" %}
            <li class="nav-section">
                <h4 class="text-section mt-5">Gerenciador de Eventos</h4>
                <li class="nav-item {% if url_name == 'event_create' %}active{% endif %}"">
                    <a href="{% url 'event_create' %}">
                        <i class="fas fa-calendar-alt"></i>
                        <p>Criar Evento</p>
                    </a>
                </li>
                <li class="nav-item {% block active_edit %}{% endblock %}">
                    <a href="#edit">
                        <i class="fa fa-id-card"></i>
                        <p>Departamentos</p>
                    </a>
                </li>
            </li>
            <li class="nav-section">
                <h4 class="text-section mt-5">Contatos</h4>
                <li class="nav-item">
                    <a href="{% url 'events_internal' %}">
                        <i class="fas fa-phone"></i>
                        <p>Tire suas dúvidas</p>
                    </a>
                </li>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}